<launch>
	
	<!-- Launching the gazebo simulation -->
	<include file="$(find uol_cmp9767m_base)/launch/thorvald-sim.launch" >
		<!-- Setting fake localization to false, so the amcl can do the localization -->
		<arg name="fake_localisation" value="false" />
		<!-- This arguments sets either simple or realistic environment -->
		<arg name="obstacles" value="false" />
		<!-- This argument enables 2nd robot -->
		<arg name="second_robot" value="false" />
		<!-- This argument enables fake map provided by gaebo -->
		<arg name="map_server" value="true" />
	</include>

	<!-- Running AMCL -->
	<include file="$(find uol_cmp9767m_tutorial)/launch/amcl.launch" />

	<!-- Running move_base node -->
	<include file="$(find uol_cmp9767m_tutorial)/launch/move_base.launch" />

	<!-- Running node for path and camera control -->
	<node pkg="ROS" type="PathController.py" name="path_controller" output="screen" />

	<!-- Running node which detects weed -->
	<node pkg="my_openCV" type="weedDetection.py" name="weed_detection" output="screen" />

	<!-- Running node to produce a weed map -->
	<node pkg="ROS" type="weedMap.py" name="weed_map_node" output="screen" />

	<!-- Running node to produce a weed map -->
	<node pkg="rviz" type="rviz" name="rviz" />

</launch>



